.container{
    height: 80%;
    width: 80%;
    margin-left: 15%;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    margin-left: -18%;
}
h3{
    margin-bottom: 20px;
}
header {
    height: 80px;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    color: cornsilk;
    background-color: skyblue;
    text-decoration: none;
}
nav a{
    text-decoration: none;
    padding: 5px;
    color: azure;
}
footer{
    height: 100px;
    background-color: grey;
       display: flex;
    justify-content: center;
    align-items: center;
}

.items{
    text-align: center;
}
.product-items img{
     width: 230px;
     height: 200px;
}
.product-items{
    display: inline-block;
    margin: 20px;
    padding: 20px;
    background-color: skyblue;
    border: 2px solid black;
    text-align: center;
    
}
  .product-items:hover {
    outline: 3px solid #4CAF50;
    outline-offset: 5px;
  }