body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #999;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 320px;
  text-align: left;
}
.form-container h2{
  text-align: center;
}

label {
  display: block;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
}
#email,#password {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
}
.signup-text {
  margin-top: 15px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
button {
  display: block;
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  margin: 20px 5px 0 250px;
  cursor: pointer;
  font-weight: bold;
}
